doctype html
html
  head
    title Shop List Management 
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/javascripts/jquery-3.6.4.min.js")
    script(src="/javascripts/aux.js")
    script(src="/javascripts/crud.js")
  body
    block content
